#container {
    width: 68%;
    height: 68%;
    float: left;
}

#menuBar {
    width: 30%;
    height: 68%;
    float: right;
    margin-top: 10px;
}

#linkButton {
    margin: 15px;
}

.number {
    width: 50px;
    margin: 5px;
}

.text {
    margin: 5px
}



